    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Clinica</th>
                <th>Paciente</th>
                <th>Fecha de realizacion</th>
                <th>Fecha de cita</th>
                <th>Hora de cita</th>
                <th>Estado</th>
                <th>Tipo de cita</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td></td>
                <td>{{ entity.iddisponibilidad.idclinica.nombre }}</td>
                <td>{{ entity.idpaciente.nombreapellido }}</td>
                <td>{% if entity.fecharealizacion %}{{ entity.fecharealizacion|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.iddisponibilidad.fecha|date('Y-m-d') }}</td>
                <td>{{ entity.iddisponibilidad.hora|date('H:i') }}</td>
                <td>{{ entity.estado }}</td>
                <td>{{ entity.tipocita }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>