{% extends 'AsiClinicaBundle::clinica_template.html.twig' %}

{% block content %}
    <div class="content-module">
                
                    <div class="content-module-heading cf">
                    
                        <h3 class="fl">EDITAR O ELIMINAR ENCARGADO</h3>
                    
                    </div> <!-- end content-module-heading -->
    <div class="content-module-main" style="display: block;">

    <table class="record_properties">
        <thead>
            <tr>
                <th>Id</th>
                <th style="width:10%">Nombres</th>
                <th style="width:10%">Apellidos</th>
                <th style="width:7%">Telefono</th>
                <th style="width:7%">Movil</th>
                <th>Pacientes</th>
                <th>Direccion</th>
                <th style="width:5%">Activo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.nombres }}</td>
                <td>{{ entity.apellidos }}</td>
                <td>{{ entity.telefono }}</td>
                <td>{{ entity.movil }}</td>
                <td>{{ entity.fechanacimiento|date('Y-m-d') }}</td>
                <td>{{ entity.direccion }}</td>
                <td>{{ entity.estadoActivacionString }}</td>
                <td>
                <a href="{{ path('encargado_edit', { 'id': entity.id }) }}" onclick= "Popup.showModal('modal');return false;">
                {% image '@AsiClinicaBundle/Resources/public/img/actions-edit.png' %}
                <img src="{{ asset_url }}" />
                {% endimage %}                
                </a>
                {{ form(delete_form) }}
                </td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
    <a class="round button blue text-upper small-button" href="{{ path('encargado') }}" onclick= "Popup.showModal('modal');return false;">
            {% image '@AsiClinicaBundle/Resources/public/img/ic_left.png' %}
            <img src="{{ asset_url }}" />
            {% endimage %}
            REGRESAR
    </a>
    </ul>
{% endblock %}
