<!DOCTYPE html>
<html lang="es">
	<head>

		{% image '@AsiClinicaBundle/Resources/public/img/favicon.ico' %}
 		<link rel="shortcut icon" href="{{ asset_url }}" />
 		{% endimage %}

		<title>.: Cl&iacute;nica Central :.</title>

		{% block stylesheets %}
			{% stylesheets 

			    '@AsiClinicaBundle/Resources/public/css/familyDroid.css'
			    'bundles/asiclinica/css/style.css'
				
				filter='cssrewrite'
			%}
    		
    		<link rel="stylesheet" href="{{ asset_url }}" />
    		{% endstylesheets %}
		{% endblock %}

		{% block javascripts %}
			{% javascripts 
				'@AsiClinicaBundle/Resources/public/js/jquery.min.js'
			    '@AsiClinicaBundle/Resources/public/js/script.js' 
			%}
			
			<script type="text/javascript" src="{{ asset_url }}"></script>
			{% endjavascripts %}
		{% endblock %}

	</head>
<body>

<!-- TOP BAR -->
	<div id="top-bar">
		
		<div class="page-full-width">
		
			<a href="{{ path('asi_clinica_homepage') }}" class="round button dark ic-left-arrow image-left ">Regresar a Clínica Central</a>
			<a href="{{ path('fos_user_registration_register') }}" class="round button dark">Registrate</a>
		</div> <!-- end full-width -->	
	
	</div> <!-- end top-bar -->
	
	
	
	<!-- HEADER -->
	<div id="header">
		
		<div class="page-full-width cf">
	
			<div id="login-intro" class="fl">
			
				<h1>Login a Clínica Central</h1>
				<h5>Ingrese Sus Credenciales Abajo</h5>
			
			</div> <!-- login-intro -->
			
			<!-- Change this image to your own company's logo -->
			<!-- The logo will automatically be resized to 39px height. -->
			<a href="#" id="company-branding" class="fr">
				{% image '@AsiClinicaBundle/Resources/public/img/logo.png' %}
					<img src="{{ asset_url }}" />
				{% endimage %}
			</a>
			
		</div> <!-- end full-width -->	

	</div> <!-- end header -->

<div id="content">
	
{% block content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path('fos_user_security_check') }}" method="post" id="login-form">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <!-- <label for="username">{{ 'security.login.username'|trans }}</label> -->
    <label for="username">Usuario</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="round full-width-input" />

    <!-- <label for="password">{{ 'security.login.password'|trans }}</label> -->
    <label for="password">Contrase&ntilde;a</label>
    <input type="password" id="password" name="_password" required="required"  class="round full-width-input" />
    <br>
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <!-- <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label> -->
    <label for="remember_me">Recuerdame</label>

    <!-- <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" /> -->
    <input type="submit" id="_submit" name="_submit" value="Entrar" class="button round blue image-right ic-right-arrow" />

</form>

{% endblock content %}

</div>

	{% include 'AsiClinicaBundle::_footer.html.twig' %}

</body>
</html> 