{% extends 'AsiClinicaBundle::clinica_template.html.twig' %}

{% block content %}
<div class="content-module">
                
                    <div class="content-module-heading cf">
                    
                        <h3 class="fl">EDITAR O ELIMINAR CLINICA</h3>
                    
                    </div> <!-- end content-module-heading -->
    <div class="content-module-main" style="display: block;">

    <table class="record_properties">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Cita hora promedio</th>
                <th>Hora de apertura entre semana</th>
                <th>Hora de cierre entre semana</th>
                <th>Hora de apertura en sabado</th>
                <th>Hora de cierre en sabado</th>
                <th>Hora de apertura en domingo</th>
                <th>Hora de cierre en domingo</th>
                <th>Activo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.direccion }}</td>
                <td>{{ entity.telefono }}</td>
                <td>{{ entity.citahorapromedio|date('H:i') }}</td>
                <td>{{ entity.horaaperturasemana|date('H:i') }}</td>
                <td>{{ entity.horacierresemana|date('H:i') }}</td>
                <td>{{ entity.horaaperturasabado|date('H:i') }}</td>
                <td>{{ entity.horacierresabado|date('H:i') }}</td>
                <td>{{ entity.horaaperturadomingo|date('H:i') }}</td>
                <td>{{ entity.horacierredomingo|date('H:i') }}</td>
                <td>{{ entity.estadoActivacionString }}</td>
                <td>
                <a href="{{ path('clinica_edit', { 'id': entity.id }) }}" onclick= "Popup.showModal('modal');return false;">
                {% image '@AsiClinicaBundle/Resources/public/img/actions-edit.png' %}
                <img src="{{ asset_url }}" />
                {% endimage %}                
                </a>
                {{ form(delete_form) }}
                </td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
    <a class="round button blue text-upper small-button" href="{{ path('clinica') }}" onclick= "Popup.showModal('modal');return false;">
            {% image '@AsiClinicaBundle/Resources/public/img/ic_left.png' %}
            <img src="{{ asset_url }}" />
            {% endimage %}
            REGRESAR
    </a>
    </ul>
{% endblock %}
