<!DOCTYPE html>
<html>
  <head>
    {% image '@AsiClinicaBundle/Resources/public/img/favicon.ico' %}
    <link rel="shortcut icon" href="{{ asset_url }}" />
    {% endimage %}
    <title>Clínica Central</title>
    <!-- <meta name="keywords" content="powerful, responsive, fluid, bootstrap, blue, white, free website template, templatemo" />
	<meta name="description" content="Powerful is a responsive template based on Bootstrap. This fluid layout is ready for mobile devices and provided by templatemo for free download." /> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    
    <!--Falta
    <link href="css/jquery.bxslider.css" rel="stylesheet" />   -->

		{% block stylesheets %}
			{% stylesheets 

			    '@AsiClinicaBundle/Resources/public/css/bootstrap.min.css'
			    '@AsiClinicaBundle/Resources/public/css/font-awesome.min.css'
			    '@AsiClinicaBundle/Resources/public/css/templatemo_style.css'
			    '@AsiClinicaBundle/Resources/public/css/circle.css'
			    '@AsiClinicaBundle/Resources/public/css/nivo-slider.css'
			    '@AsiClinicaBundle/Resources/public/css/Raleway.css'
				
				filter='cssrewrite'
			%}
    		
    		<link rel="stylesheet" href="{{ asset_url }}" />
    		{% endstylesheets %}
		{% endblock %}

		{% block javascripts %}
			{% javascripts 
				'@AsiClinicaBundle/Resources/public/js/modernizr.custom.js'
			%}
			
			<script type="text/javascript" src="{{ asset_url }}"></script>
			{% endjavascripts %}
		{% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
      <div id="templatemo_top" class="mainTop">
        <div class="container">
          <div class="row">
            <div class="hidden-xs hidden-sm col-md-6">
            </div>
            <!-- <div class="col-sm-12 col-md-6">
              <div class="socials">
                <ul>
                  <li><a href="#"><i class="fa fa-twitter soc"></i></a></li>
                  <li><a href="#"><i class="fa fa-facebook soc"></i></a></li>
                  <li><a href="#"><i class="fa fa-rss soc"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble soc"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram soc"></i></a></li>
                </ul>
              </div>
            </div> -->
          </div> 
        </div>
      </div> <!-- e/o mainTop -->
      

    </header>

    <div class="mWrapper">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-md-4">
            <div class="logo">
              <a href="#">
                {% image '@AsiClinicaBundle/Resources/public/img/logo.png' %}
                  <img src="{{ asset_url }}" />
                {% endimage %}
              </a>
            </div>
          </div>
          <div class="col-sm-8 col-md-8">
            <nav class="mainMenu">
              <ul class="nav">
                <li><a href="#templatemo_top">Principal</a></li>
                <li><a href="#templatemo_services">Institución</a></li>
                <li><a href="#templatemo_about">Acerca De</a></li>
                <li><a href="#templatemo_contact">Contáctenos</a></li>  
                <li><a href="{{ path('fos_user_security_login') }}">Ingresar</a></li>
                <li><a href="{{ path('fos_user_registration_register') }}">Registrarse</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div id="templatemo_services" class="section1">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="secHeader">
              <h1 class="text-center">Nuestra Institución</h1>
              <p class="text-center">La Clínica Central, tradición en salud, es una empresa familiar ubicada en el Medicentro La Esperanza, San Salvador. Desde siempre comprometidos con excelencia en la calidad de atención que le brindamos a nuestros pacientes, desde chicos hasta la adultez.</p>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="blok text-center">
                  <div class="hexagon-a">
                    <a class="hlinktop">
                      <div class="hexa-a">
                        <div class="hcontainer-a">
                          <div class="vertical-align-a">
                            <span class="texts-a"><i class="fa fa-bell"></i></span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>  
                  <div class="hexagon">
                    <a class="hlinkbott">
                      <div class="hexa">
                        <div class="hcontainer">
                          <div class="vertical-align">
                            <span class="texts"></span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <h4>Misión</h4>
                  <p><small>Proveer servicios médicos de primera calidad y contribuir a la mejora social, basándonos primordialmente en la prevención.</small></p>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="blok text-center">
                  <div class="hexagon-a">
                    <a class="hlinktop">
                      <div class="hexa-a">
                        <div class="hcontainer-a">
                          <div class="vertical-align-a">
                            <span class="texts-a"><i class="fa fa-rocket"></i></span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>  
                  <div class="hexagon">
                    <a class="hlinkbott">
                      <div class="hexa">
                        <div class="hcontainer">
                          <div class="vertical-align">
                            <span class="texts"></span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <h4>Visión</h4>
                  <p><small>Brindar servicios médicos de primera calidad a todos nuestros pacientes con el objetivo de contribuir con el desarrollo de una sociedad con visión, principalmente, a las nuevas generaciones.</small></p>
                </div>
              </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
              <div class="blok text-center">
                
                <div class="hexagon-a">
                  <a class="hlinktop">
                    <div class="hexa-a">
                      <div class="hcontainer-a">
                        <div class="vertical-align-a">
                          <span class="texts-a"><i class="fa fa-mobile-phone"></i></span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>  
                <div class="hexagon">
                  <a class="hlinkbott">
                    <div class="hexa">
                      <div class="hcontainer">
                        <div class="vertical-align">
                          <span class="texts"></span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <h4>¿Cómo Llegar?</h4>
                <p><small>Para llegar a la 23 Calle Poniente, hay que conducirse por la 1a Calle Poniente y 25 Avenida Norte, hasta encontrar los Edificios Morados de la Colonia Médica. </small></p>
              </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
              <div class="blok text-center">
                
                <div class="hexagon-a">
                  <a class="hlinktop">
                    <div class="hexa-a">
                      <div class="hcontainer-a">
                        <div class="vertical-align-a">
                          <span class="texts-a"><i class="fa fa-tags"></i></span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>  
                <div class="hexagon">
                  <a class="hlinkbott">
                    <div class="hexa">
                      <div class="hcontainer">
                        <div class="vertical-align">
                          <span class="texts"></span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>

                <h4>Estructura</h4>
                <p><small>La Clínica Central, maneja una estructura jerárquica. En esta, se mantiene un orden de superioridad y subordinación entre áreas dependiendo de la importancia de cada una.</small></p>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div> <!-- e/o section1 -->

    <div id="templatemo_about" class="section3">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="secHeader">
              <h1 class="text-center">Nuestro Equipo</h1>
              <p class="text-center"><small>Contamos con un equipo de especialistas altamente calificados en las distintas ramas de la medicina, listos para atenderle en todas sus necesidades, como sólo usted lo merece. </small></p>
            </div>
            <div class="knobWrap">
              <div class="row">
                <div class="col-sm-6 col-md-3">
                  <div class="knob">
                    <div class="c100 p100 big">
                      <span>ATENCIÓN</span>
                      <div class="slice">
                          <div class="bar"></div>
                          <div class="fill"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="knob">
                    <div class="c100 p100 big">
                      <span>AMABILIDAD</span>
                      <div class="slice">
                          <div class="bar"></div>
                          <div class="fill"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="knob">
                    <div class="c100 p100 big">
                      <span>DISPONIBILIDAD</span>
                      <div class="slice">
                          <div class="bar"></div>
                          <div class="fill"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="knob">
                    <div class="c100 p100 big">
                      <span>CALIDAD</span>
                      <div class="slice">
                          <div class="bar"></div>
                          <div class="fill"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div> <!-- e/o section3 -->

    <div id="templatemo_contact" class="section5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="secHeader">
              <h1 class="text-center">Contáctenos</h1>
              <p class="text-center"><small>Pellentesque aliquam in risus eu ultrices. Suspendisse id interdum nibh. Etiam vel mattis augue, a vestibulum arcu. Nam rutrum diam dolor, eu vehicula nisl tincidunt non. Fusce tincidunt id justo eu tempor. Phasellus sit amet ante lobortis, mattis sapien id, dictum ipsum. <a href="https://goo.gl/maps/u6lEQ" style="color:#0000FF;text-align:left">Ver Mapa Agrandado</a></small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="templatemo_maps">
              <div class="fluid-wrapper">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3876.1222251129448!2d-89.19414640000002!3d13.711046399999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f633096a2d01123%3A0x9ff39ee00d694c81!2s23+Calle+Poniente!5e0!3m2!1ses!2s!4v1400820804543"></iframe> 
                <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3876.1222251129448!2d-89.19414640000002!3d13.711046399999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f633096a2d01123%3A0x9ff39ee00d694c81!2s23+Calle+Poniente!5e0!3m2!1ses!2s!4v1400820804543" width="600" height="450" frameborder="0" style="border:0"></iframe> -->
              </div>
            </div>
            <div class="info1">
              <h4>Información Clínicas Centrales</h4>
              <div class="addr">
                <ul>
                  <li><i class="fa fa-map-marker"></i>23 Calle Poniente, San Salvador</li>
                  <li><i class="fa fa-mobile-phone"></i>010-020-0120</li>
                  <li><i class="fa fa-envelope"></i>contacto@clinicacentral.com</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="container">
        <div class="row">
          <div class="col-md-3">
            <form role="form">
              <div class="form-group">
                <input name="fullname" type="text" class="form-control" id="fullname" placeholder="Your Name" maxlength="30">
              </div>
              <div class="form-group">
                <input name="email" type="text" class="form-control" id="email" placeholder="Your Email" maxlength="30">
              </div>
              <div class="form-group">
                <input name="subject" type="text" class="form-control" id="subject" placeholder="Your Subject" maxlength="40">
              </div>
              <div><button type="button" class="btn btn-primary">Send Message</button></div>
            </form>
          </div>
          <div class="col-md-6">
            <div class="txtarea">
              <textarea name="message" rows="10" class="form-control" id="message"></textarea>
            </div>
          </div>
          <div class="col-md-3">
            <div class="addr">
              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <ul>
                <li><i class="fa fa-map-marker"></i>23 Calle Poniente, San Salvador</li>
                <li><i class="fa fa-mobile-phone"></i>010-020-0120</li>
                <li><i class="fa fa-envelope"></i>contacto@clinicacentral.com</li>
              </ul>
            </div>
          </div>
        </div>
      </div> -->

    </div> <!-- eo section 5 -->

      <div id="back-top" class="gotop text-center">
        <a href="">Back to top</a>
      </div>

      <div class="bfWrap text-center">
        <div class="templatemo_footer">Copyright © 2014 Clínica Central | Análisis de Sistemas II</div>
      </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://code.jquery.com/jquery.js"></script> -->
    {% block javascriptsb %}
			{% javascripts 
				'@AsiClinicaBundle/Resources/public/js/jquery.min.js'
				'@AsiClinicaBundle/Resources/public/js/bootstrap.min.js'
				'@AsiClinicaBundle/Resources/public/js/jquery.cycle2.min.js'
				'@AsiClinicaBundle/Resources/public/js/jquery.cycle2.carousel.min.js'
				'@AsiClinicaBundle/Resources/public/js/jquery.nivo.slider.pack.js'
				'@AsiClinicaBundle/Resources/public/js/jquery.cookie.js'
			%}
			
			<script type="text/javascript" src="{{ asset_url }}"></script>
			{% endjavascripts %}
	{% endblock %}

    <script>$.fn.cycle.defaults.autoSelector = '.slideshow';</script>
    
    <script type="text/javascript">
      $(function(){
          var default_view = 'grid';
          if($.cookie('view') !== 'undefined'){
              $.cookie('view', default_view, { expires: 7, path: '/' });
          } 
          function get_grid(){
              $('.list').removeClass('list-active');
              $('.grid').addClass('grid-active');
              $('.prod-cnt').animate({opacity:0},function(){
                  $('.prod-cnt').removeClass('dbox-list');
                  $('.prod-cnt').addClass('dbox');
                  $('.prod-cnt').stop().animate({opacity:1});
              });
          }
          function get_list(){
              $('.grid').removeClass('grid-active');
              $('.list').addClass('list-active');
              $('.prod-cnt').animate({opacity:0},function(){
                  $('.prod-cnt').removeClass('dbox');
                  $('.prod-cnt').addClass('dbox-list');
                  $('.prod-cnt').stop().animate({opacity:1});
              });
          }
          if($.cookie('view') == 'list'){ 
              $('.grid').removeClass('grid-active');
              $('.list').addClass('list-active');
              $('.prod-cnt').animate({opacity:0});
              $('.prod-cnt').removeClass('dbox');
              $('.prod-cnt').addClass('dbox-list');
              $('.prod-cnt').stop().animate({opacity:1}); 
          } 

          if($.cookie('view') == 'grid'){ 
              $('.list').removeClass('list-active');
              $('.grid').addClass('grid-active');
              $('.prod-cnt').animate({opacity:0});
                  $('.prod-cnt').removeClass('dboxlist');
                  $('.prod-cnt').addClass('dbox');
                  $('.prod-cnt').stop().animate({opacity:1});
          }

          $('#list').click(function(){   
              $.cookie('view', 'list'); 
              get_list()
          });

          $('#grid').click(function(){ 
              $.cookie('view', 'grid'); 
              get_grid();
          });

          /* filter */
          $('.menuSwitch ul li').click(function(){
              var CategoryID = $(this).attr('category');
              $('.menuSwitch ul li').removeClass('cat-active');
              $(this).addClass('cat-active');
              
              $('.prod-cnt').each(function(){
                  if(($(this).hasClass(CategoryID)) == false){
                     $(this).css({'display':'none'});
                  };
              });
              $('.'+CategoryID).fadeIn(); 
              
          });
      });
    </script>

    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider({
          prevText: '',
          nextText: '',
          controlNav: false,
        });
    });
    </script>
    <script>
      $(document).ready(function(){

        // hide #back-top first
        $("#back-top").hide();
        
        // fade in #back-top
        $(function () {
          $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
              $('#back-top').fadeIn();
            } else {
              $('#back-top').fadeOut();
            }
          });

          // scroll body to 0px on click
          $('#back-top a').click(function () {
            $('body,html').animate({
              scrollTop: 0
            }, 800);
            return false;
          });
        });

      });
      </script>
      <script type="text/javascript">
      <!--
          function toggle_visibility(id) {
             var e = document.getElementById(id);
             if(e.style.display == 'block'){
                e.style.display = 'none';
                $('#togg').text('show footer');
            }
             else {
                e.style.display = 'block';
                $('#togg').text('hide footer');
            }
          }
      //-->
      </script>

      	{% block javascriptsc %}
			{% javascripts 
				'@AsiClinicaBundle/Resources/public/js/lib/jquery.mousewheel-3.0.6.pack.js'
			%}
			
			<script type="text/javascript" src="{{ asset_url }}"></script>
			{% endjavascripts %}
		{% endblock %}


      <script type="text/javascript">
      $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });
      </script>

        {% block javascriptsd %}
			{% javascripts 
				'@AsiClinicaBundle/Resources/public/js/stickUp.min.js'
			%}
			
			<script type="text/javascript" src="{{ asset_url }}"></script>
			{% endjavascripts %}
		{% endblock %}

      <script type="text/javascript">
        //initiating jQuery
        jQuery(function($) {
          $(document).ready( function() {
            //enabling stickUp on the '.navbar-wrapper' class
            $('.mWrapper').stickUp();
          });
        });
      </script>
      
</body>
</html>