{% extends 'AsiClinicaBundle::clinica_template.html.twig' %}

{% block content %}

    <div class="content-module">
                
        <div class="content-module-heading cf">
        
            <h3 class="fl">ROLES DE USUARIO</h3>
        
        </div> <!-- end content-module-heading -->

    <div class="content-module-main" style="display: block;">

        <table class="table table-hover" style="width:400px">
            <thead>
                <tr>
                    <th colspan="2"><b>AGREGAR ROL</b></th>
                </tr>
                <tr>
                    <th>Role</th>
                    <th>Aciones</th>
                </tr>
            </thead>
            <tbody>
                {% for role in roles %}
                    <tr>
                        <td>{{ role }}</td>
                        <td>
                            <ul>
                                <a href="{{ path('usuario_roles_add', { 'id': user_id, 'role': role }) }}" onclick= "Popup.showModal('modal');return false;">
                                    {% image '@AsiClinicaBundle/Resources/public/img/actions-add.png' %}
                                        <img src="{{ asset_url }}" />
                                    {% endimage %}
                                </a>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <table class="table table-hover" style="width:400px">
            <thead>
                <tr>
                    <th colspan="2"><b>ROLES ACTUALMENTE ASIGNADOS</b></th>
                </tr>
                <tr>
                    <th>Role</th>
                    <th>Aciones</th>
                </tr>
            </thead>
            <tbody>
                {% for role in user_roles %}
                    <tr>
                        <td>{{ role }}</td>
                        <td>
                            <ul>
                                <a href="{{ path('usuario_roles_delete', { 'id': user_id, 'role': role }) }}" onclick= "Popup.showModal('modal');return false;">
                                    {% image '@AsiClinicaBundle/Resources/public/img/actions-delete.png' %}
                                        <img src="{{ asset_url }}" />
                                    {% endimage %}
                                </a>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
{% endblock %}
